matplotlib
numpy
scipy--find-links https://download.pytorch.org/whl/torch_stable.html
torch--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.6.0+cu101
tqdm
pydensecrf
protobuf
tensorboardX
